extends base

block content
  nav(class="navbar navbar-dark bg-dark w-100" style="box-shadow:1px 5px 6px 0px rgb(32 33 36 / 28%);")
    div(class="container-fluid")
      a(class="navbar-brand" href="#")
        img(src="/whatsapp/img/logo-wit.png" alt="" width="110"  class="d-inline-block align-text-top")

  div(class="container-fluid")
    div(class="row mt-2 d-flex justify-content-center")
      div(class="col-md-6 text-center")
        h4 El usuario logueado actualmente es:
        h2#user ...
        button(type="button" class="btn btn-warning")#logoutBtn Cerrar Sesion

  div(class="container-fluid")#container 
    div(class="row pt-2 d-flex justify-content-around")
      div(class="col-md-6 col-12 d-flex align-items-center justify-content-center ")
        div
          img#code(alt="QR CODE")
          div(class="text-center w-100")
            button(type="button" class="btn btn-dark my-2")#signin 
              span(class="material-icons") qr_code_2
              p(class="mb-0") Solicitar Codigo QR. 

      div(class="col-md-5 col-12")
        h1 Coloque su telefono para escanear codigo QR y vincular el dispositivo.
        img(src="/whatsapp/img/whatsapp-scan.jpg" class="img-fluid" style="box-shadow: 0px 0px 6px 0px rgb(32 33 36 / 28%);border-radius: 15px;" )
        p(class="text-center my-2") Espere el codigo QR al lado izquierdo.


  footer(class="text-center mt-1")
    img(src="/whatsapp/img/logo-wit-dark.png" width="80" )
    p(class="mb-0 text-center") Copyright © 2021 WIT SPA, Los Conquistadores 2440, Chile, RM, Santiago